<section>
  <div class="box box-link-hover-shadow">
    <h2 class="title">Weekly Usage Chart</h1>
        <div style="width: 800px;"><canvas id="weeklyChart"></canvas></div>
  </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const data = {{{json stats}}}


        const labels = Object.keys(data.dates);
        const screenTimeData = labels.map(date => {
            const dayData = data.dates[date];
            console.log(dayData)
            return dayData.daily_time ? Math.round(dayData.daily_time / 60) : 0;
        })

        new Chart(
            document.getElementById("weeklyChart"),
            {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: "Weekly Device Usage",
                            data: screenTimeData
                        }
                    ]
                }, 
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    }
                }
            }
        );
</script>