
<div class="box box-link-hover-shadow">
  <h2 class="title">
    {{device.device}}
  </h2>
  <p>Device ip: {{device.ip}}</p>
  <p>Device mac: {{device.mac}}</p>
  <a href="/device/deletedevice/{{device.mac}}" class="button is-danger">Delete Device</a>
</div>