{{#each devices}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    <a href="/device/{{mac}}" class="button">{{device}}</a>
  </h2>
  <p>Device ip: {{ip}}</p>
  <p>Device mac: {{mac}}</p>
</div>
{{/each}}