<h2 class="title is-2">Network Devices</h2>
  <p class="subtitle">See your network devices below that you have added to your dashboard</p>
{{#each devices}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    <a href="/device/{{mac}}" class="button">{{device}}</a>
  </h2>
  <p>Device ip: {{ip}}</p>
  <p>Device mac: {{mac}}</p>
</div>
{{/each}}